<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum neque laboriosam exercitationem iure molestiae, animi, voluptates nisi vero cumque voluptas ratione explicabo temporibus aliquid totam error quis quo velit deleniti!</p>

<%- include("footer") -%>